{% extends 'base.html' %}

  {% block title %}Регистрация{% endblock %}

{% block body %}
  <div class="form-container">
    <form method="post">
      <h1 class="h3 mb-3 fw-normal text-center">Пожалуйста, войдите</h1>
        <div class="form-floating mb-3">
          <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required>
            <label for="floatingInput">Никнейм</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" name="mail" class="form-control" id="floatingEmail" placeholder="Email" required>
           <label for="floatingEmail">Почта</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Пароль</label>
        </div>
        {% if error_username or error_mail %}
          <div class="alert alert-danger mt-3" role="alert">{{ error_username or error_mail }}</div>
        {% endif %}
        {% if error_username_re or error_password_re or error_email_re %}
          <div class="alert alert-danger">{{ error_username_re or error_password_re or error_email_re}}</div>
        {% endif %}
          <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button>
    </form>
  </div>
{% endblock %}
