{% extends 'base.html' %}

{% block title %}
  Главная страница
{% endblock %}

{% block body %}
  <h1>Добро пожаловать на Yu.</h1>

  <p>Yu. — это место, где пользователи могут создавать свои публикации, делиться мыслями, идеями и опытом. Здесь можно просматривать записи других участников, оставлять комментарии и следить за новыми публикациями в реальном времени.</p>

  <p>Каждый пользователь имеет свой профиль, где видна аватарка, никнейм, дата регистрации и количество опубликованных записей. Вы можете персонализировать свой профиль, изменить аватар, ник или пароль, а также добавить краткое описание о себе.</p>

{% endblock %}
