{% extends 'base.html' %}

{% block title %}
  Все записи
{% endblock %}

{% block body %}
  <h1 class="mb-4">Все записи</h1>

  <div class="container">
    <div class="row g-4"> 
      {% for post in posts %}
        <div class="col-12 col-md-6">
          <div class="item">
            <div class="item-in">
              <h4>{{ post.title }}</h4>
              <div class="seperator"></div>
                <p>{{ post.text }}</p>
                <a href="{{ url_for('records.record', id=post.id) }}">
                Читать далее
                  <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
              <div class="author-block d-flex align-items-center mt-2">
                  <img src="{{ url_for('static', filename='uploads/avatars/' ~ post.author.avatar) }}"
                  class="avatar-img me-2" alt="avatar">
                  <div>
                    <a href="{{ url_for('records.author_page', username=post.author.username) }}">
                      {{ post.author.username }}
                    </a>
                  </div>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}